<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!--开启缓存注解配置 -->
    <cache:annotation-driven cache-manager="myCacheManager"/>
    <!--定义缓存管理器-->
    <bean id="myCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="userCacheManager"/>
    </bean>
    <!--定义一个的缓存管理器工厂-->
    <bean id="userCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <!-- 指定配置文件的位置 -->
        <property name="configLocation" value="classpath:config/mybatis/ehcache.xml"/>
        <!-- 指定新建的CacheManager的名称 -->
        <property name="cacheManagerName" value="userCache"/>
    </bean>
    <bean id="userEhCacheFactory" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager" ref="userCacheManager"/>
    </bean>
</beans>